* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding-inline: 3rem;
    padding-top: 1.5rem;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    .Logo {
        display: flex;

        .material-symbols-outlined {
            display: none;

            @media screen and (width < 700px) {
                display: flex;
            }
        }
    }
    nav {
        a {
            text-decoration: none;
        }
    }
    ul {
        width: 25rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: "Poppins", sans-serif;

        @media screen and (width < 700px) {
            display: none;
        }
        li {
            list-style: none;
            text-transform: capitalize;
        }
    }
    .icons {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        .icons_1 {
            display: flex;
            align-items: center;
            gap: 0.5rem;

            @media screen and (width < 700px) {
                display: none;
            }
        }
        .icons_2 {
            display: flex;
            align-items: center;
            gap: 0.2rem;
        }
        p {
            border: solid;
            border-radius: 50%;
            color: #fff;
            background-color: black;
            width: 1.7rem;
            height: 1.7rem;
            padding-inline: 7px;
            font-family: "Poppins", sans-serif;
        }
    }
}
section {
    margin-right: 1.5rem;
    margin-left: 1.8rem;
    max-width: 1200px;
    height: 30rem;
    background-image: url("./images/Image\ Placeholder\ header.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (width < 700px) {
        background-image: none;
    }
    @media screen and (width < 699px) {
        background-image: url("./images/image\ in\ mobile\ version.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 20rem;
    }
    .arrow_right {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 3rem;
        font-family: "Poppins", sans-serif;
    }
    .blog {
        text-align: center;
        transform: translateY(-250px);
        font-family: "Poppins", sans-serif;
        @media screen and (width < 699px) {
            transform: translateY(-180px);
        }
        h1 {
            font-size: 55px;
        }
    }
}
.Sort {
    width: 96vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    margin-right: 2rem;
    font-family: "Inter", sans-serif;

    @media screen and (width < 700px) {
        display: none;
    }
    .Sort_1 {
        padding-left: 2rem;
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    .Sort_2 {
        display: flex;
        align-items: center;
        .pyramids {
            display: flex;
            width: 184px;
            height: 40px;

            div {
                border: solid rgba(232, 236, 239, 1);
                width: 46px;
                height: 40px;
                padding-left: 10px;
                padding-top: 8px;
            }
        }
    }
}
.all_blog {
    width: 312px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid rgba(108, 114, 117, 1);
    border-radius: 10px;
    display: none;
    button {
        border: none;
        padding-left: 1rem;
        background-color: white;
    }
}
@media screen and (width < 700px) {
    .all_blog {
        display: flex;
        margin: auto;
        margin-top: 2rem;
    }
}
.cards {
    width: 100%;
    padding-left: 1.8rem;
    margin-block: 1rem;
    column-gap: 4rem;
    row-gap: 5rem;
    display: flex;
    flex-wrap: wrap;
    h4 {
        font-family: "Poppins", sans-serif;
    }
    @media screen and (width < 1150px) {
        padding-left: 10rem;
    }
    img {
        width: 100%;
    }
    @media screen and (width < 900px) {
        flex-direction: column;
        margin: auto;
        margin-top: 50px;
        padding-inline: 2rem;
        row-gap: 2rem;
        img {
            width: 100%;
            height: 500px;
            object-fit: cover;
        }
    }
    @media screen and (width < 600px) {
        img {
            height: 300px;
        }
    }
}
.show_more {
    width: 100%;
    padding-left: 30rem;
    @media screen and (width < 900px) {
        padding-left: 7rem;
    }
    button {
        border-radius: 20px;
        padding: 6px, 40px, 6px, 40px;
        width: 163px;
        height: 40px;
        margin-top: 1.5rem;
        margin-bottom:3rem;
    }
}
footer{
    width: 100vw;
    height: 35rem;
    background: rgba(20, 23, 24, 1);
    @media screen and (width < 560px){
        height: 50rem;
    }
    .footer_title{
        width: 100%;
        height: 60%;
        background-image: url("./images/footer\ background\ image.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        div{
            margin-bottom: 1.5rem;
            h1{
                margin-top: 2rem;
            }
        }
        @media screen and (width < 800px){
            background-image: none;
            background: rgba(242, 244, 246, 1);
        }
        @media screen and (width < 560px)
        {
            height: 28%;
        }
        .Signup{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 150px;
            border: solid rgba(108, 114, 117, 0.5);
            width: 40rem;
            height: 5rem;
            margin: auto;
            border-top:none;
            border-left:none;
            border-right:none;
            padding-bottom: -3rem;
            @media screen and (width < 670px){
                width: 20rem;
            }
            .Email{
                padding-top: 1.5rem;
            }
        }
        div{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .footer_end{
        width: 100%;
        height: 39%;
        margin: auto;
        color: #fff;
        padding-top: 1rem;
        @media screen and (width < 560px)
        {
            height: 72%;
        }
        ul{
            width: 300px;
            display: flex;
            align-items: center;
            row-gap: 2rem;
            padding-top: 1rem;
            justify-content: space-between;
            align-items: center;
            @media screen and (width < 560px){
              flex-direction: column;
            }
            li{
                list-style: none;
                cursor: pointer;
            }
        }
        .end{
            display: flex;
            justify-content: space-around;
            align-items: center;
            .Gift{
                display: flex;
                padding-top: 1rem;
                p{
                    padding-left: 1rem;
                }
                img{
                    margin-bottom: 0.5rem;
                    margin-left: 2.8rem;
                }
                @media screen and (width < 560px){
                    display: block;
                    img{
                        border: solid rgba(108, 114, 117, 0.8);
                        border-top:none;
                        border-left:none;
                        border-right:none;
                    }

                }
            }
            img{
                border: solid rgba(108, 114, 117, 0.8);
                margin-left: 2rem;
                padding-right: 1rem;
                border-top:none;
                border-left:none;
                border-bottom:none;
                
            }
            @media screen and (width < 560px){
                flex-direction: column;
              }
            img{
                width: 100px;
                height: 30px;
            }
            div{
                display: flex;
                align-items: center;
            }
        }
    }
    .link{
        display: flex;
        justify-content: space-around;
        align-items:center;
        gap: 2rem;
        border: solid rgba(108, 114, 117, 1);
        margin-inline: 90px;
        margin-top: 2rem;
        padding-top: 10px;
        border-left:none;
        border-right:none;
        border-bottom:none;
       
        div{
           margin: 0.5rem;
        }
        @media screen and (width < 560px){
            flex-direction: column-reverse;
        }
        .link_start{
            padding-left: 3rem;
            display: flex;
            gap: 20px;
            @media screen and (width < 560px){
                flex-direction: column;
                font-size: 12px;
            }
        }
    }
}